/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (white-space-collapse: discard) {
  .no-whitespace {
    white-space-collapse: discard;
  }
}
@supports not (white-space-collapse: discard) {
  .no-whitespace {
    font-size: 0;
    line-height: 0;
    > * {
      font-size: revert;
      line-height: revert;
    }
  }
}
